.contact {
  padding-top: 5rem;
  padding-bottom: 10rem;
  @include tab {
    .c-right-sec {
      padding-top: 19rem;
      padding-left: 6rem;
    }
  }
  @include desktop {
    .c-row {
      width: 800px;
      margin: auto;
    }
    padding-top: 20rem;
    padding-bottom: 14rem;
    .c-right-sec {
    }
  }
  .l-leaf {
    transform: rotate(55deg);
    width: 120px;
    left: 30px;
  }
  .r-leaf {
    right: 50px;
    transform: rotate(245deg);
    width: 150px;
    top: 16rem;
  }
}
