footer {
  * {
    color: white;
  }
  a {
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  .top-section {
    padding: 20px 0 50px 0;
    border-top: 1px solid #f2d898;
  }
  .bottom-section {
    padding: 15px 0;
    background: $primary;
    * {
      font-size: 13px;
      font-weight: 500;
      color: #1e453e;
    }
  }

  .display-center {
    @include desktop {
      display: flex;
      justify-content: center;
    }
  }
  .flex-col {
    @include desktop {
      flex-direction: column;
    }
  }

  .s-underline {
    &:after {
      width: 50px;
      margin-top: 5px;
    }
  }

  .footer-logo {
    width: 50%;
    margin: auto;
    display: block;
    @include desktop {
      width: 60%;
    }
  }
  .f-title {
    margin-bottom: 1.5rem;
    font-size: 20px;
  }
  .social {
    h4 {
      margin-bottom: 2.5rem;
    }
    a {
      margin-right: 15px;
      font-size: 18px;
      border: 1px solid white;
      border-radius: 40px;
      padding: 6px;
      margin: 10px;
      width: 32px;
      height: 32px;
      text-align: center;
    }
  }
  .contact-us {
    i {
      margin-right: 15px;
      font-size: 14px;
      border: 1px solid white;
      border-radius: 16px;
      padding: 3px;
      width: 24px;
      height: 24px;
      text-align: center;
    }
  }
  .f-grid {
    .grid-item {
      margin-bottom: 3rem;
      & > a {
        margin-bottom: 0.5rem;
      }
    }
    @include desktop {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 2fr 1fr 2fr;
    }
  }
}
