footer {
  * {
    color: white;
  }
  a {
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  .top-section {
    padding: 20px 0 50px 0;
    border-top: 1px solid #f2d898;
  }
  .bottom-section {
    padding: 15px 0;
    background: $primary;
    * {
      font-size: 13px;
      font-weight: 500;
      color: #1e453e;
    }
  }

  .display-center {
    @include desktop {
      display: flex;
      justify-content: center;
    }
  }
  .flex-col {
    @include desktop {
      flex-direction: column;
    }
  }

  .s-underline {
    &:after {
      width: 50px;
      margin-top: 5px;
    }
  }

  .f-title {
    margin-bottom: 1.5rem;
    font-size: 20px;
  }
  .f-grid {
    .grid-item {
      text-align: center;
      margin-bottom: 3rem;

      & > a {
        margin-bottom: 0.5rem;
      }
    }
    @include desktop {
      display: grid;
      grid-gap: 41px;
      grid-template-columns: 1fr 1fr 1fr;
      width: 85%;
      margin: auto;
    }
  }
}
