.home {
  
  .button-suria {
    a:hover {
      color: #1e453e;
    }
  }
  .margin-head {
    margin-top: 135px;
  }
  .banner {
    background-image: url("../img/Banner.png");
    height: 100vh;
    background-position: center bottom;
    display: flex;
    place-content: center;
    align-items: center;
  }
  .p-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    .p-title {
      margin-top: 3rem;
    }
    @include tab {
      display: flex;
      align-items: center;
    }
    @include desktop {
      padding-top: 8rem;
      padding-bottom: 8rem;
      .p-title {
        margin-top: 6rem;
      }
    }
  }
  .golden-house-container {
    padding: 25px;
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
    .box {
      border: 1px solid $primary;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100px;
      z-index: -1;
      left: 0;
    }
    @include tab {
      margin-bottom: 0;
      img {
        width: 300px;
      }
    }
    @include desktop {
      padding: 45px;
      img {
        width: 550px;
      }
      .box {
        right: 150px;
      }
    }
  }
  .leaf {
    display: none;
    @include tab {
      display: block;
    }
    &.l-leaf {
      transform: rotate(26deg);
      left: 0;
    }
    &.r-leaf {
      right: 10px;
      transform: rotate(215deg);
    }
    &.b-leaf {
      right: 14px;
      transform: rotate(-77deg);
      width: 140px;
      bottom: -50px;
    }
  }
  .m-section {
    padding-bottom: 9rem;
    overflow: hidden;
  }
  .arrow-down {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
}
