.home {
  .banner {
    background-image: url('../img/Banner.png');
    height:100vh;
    background-position: center bottom;
    display: flex;
    place-content: center;
    align-items: center;

  }
}