.navbar {
  a {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  a.active:not(.logo-img) {
    border:1px solid $primary;
  }

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

