.projects {
  .banner {
    position: relative;
    img {
      max-width: 90%;
      height: auto;
      margin: auto;
      display: block;
    }
    .poem {
      font-size: 4.3vw;
      position: absolute;
      left: 40%;
      top: 10%;
      transform: translateX(-50%);
    }
    @include tab {
      .poem {
        font-size: 3.3vw;
        left: 44%;
      }
    }
    @include desktop {
      padding-top: 150px;
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
      .poem {
        font-size: clamp(14px, 1.1vw, 18px);
        line-height: calc(16px + (6 * 0.19vw));
        left: 50%;
        top: 20vw;
      }
    }
    .native-logo {
      @include desktop {
        width: 25vw;
        height: auto;
        position: absolute;
        top: 10vw;
        right: 8vw;
      }
    }
  }
  .p-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    .p-title {
      margin-top: 3rem;
    }
    @include tab {
      display: flex;
      align-items: center;
    }
    @include desktop {
      padding-top: 8rem;
      padding-bottom: 8rem;
      .p-title {
        margin-top: 6rem;
      }
    }
  }
  .img-grid {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
    @include tab {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 145px 145px;
      flex: 0 0 350px;
      padding: 25px;
      img {
        height: 100%;
        object-fit: cover;
        margin: 0;
      }
    }
    @include desktop {
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 265px 265px;
      flex: 0 0 640px;
      padding: 45px;
    }
  }
  .r-leaf {
    right: 40px;
    transform: rotate(235deg);
    width: 170px;
    bottom: 0;
  }
}
