.projects {
  .banner {
    position: relative;
    img {
      max-width: 90%;
      height: auto;
      margin: auto;
      display: block;
    }
    .poem {
      font-size: 5vw;
      position: absolute;
      left: 40%;
      top: 14%;
      transform: translateX(-50%);
    }
    @include desktop {
      padding-top: 150px;
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
      .poem {
        font-size: clamp(14px, 1.1vw, 18px);
        line-height: calc(16px + (6 * 0.19vw));
        left: 50%;
        top: 20vw;
      }
    }
  }
}
