.projects {
  .banner {
    position: relative;
    img {
      max-width: 90%;
      height: auto;
      margin: auto;
      display: block;
    }
    .poem {
      font-size: 4.3vw;
      position: absolute;
      left: 40%;
      top: 10%;
      transform: translateX(-50%);
    }
    @include tab {
      .poem {
        font-size: 3.3vw;
        left: 44%;
      }
    }
    @include desktop {
      padding-top: 150px;
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
      .poem {
        font-size: clamp(14px, 1.1vw, 18px);
        line-height: calc(16px + (6 * 0.19vw));
        left: 50%;
        top: 20vw;
      }
    }
    .native-logo {
      @include desktop {
        width: 25vw;
        height: auto;
        position: absolute;
        top: 10vw;
        right: 8vw;
      }
    }
  }
}
