<footer>
	<div class="top-section">
		<div class="container">
			<div class="f-grid">
				<div class="grid-item">
					<h4 class="f-title text-center s-underline fancy-font">Visit Us</h4>
					<div class="d-inline-block text-start">
						<a href="https://www.google.com/maps/dir//Swastispineandmindcare./data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x395e8585474613bb:0x715c634de8aceb94?sa=X&ved=2ahUKEwjI-YOrjrDwAhV84jgGHc7ZCZwQ9RcwC3oECBkQBA"
							 target="_blank" class="">
							Suria Vrishiv Infrastructure<br />
							42, Building Name<br />
							Road Name, Ahmedabad<br />
							Gujarat - 381534
						</a>
					</div>
				</div>
				<div class="grid-item">
					<h4 class="f-title text-center s-underline  fancy-font">Contact Us</h4>
					<div class="   d-inline-block text-start">
						<div class="icon-before one-rem-mb ">
							<img src="./img/phone.svg"/>
							<a class="ms-2" href="tel:+919273817353">9273817353</a>
						</div>
						<div class="icon-before one-rem-mb ">
							<img src="./img/email.svg"/>
							<a class="ms-2" href="mailto:suriavrishiv@gmail.com">suriavrishiv@gmail.com</a>
						</div>
						<div class="icon-before ">
							<img src="./img/web.svg"/>
							<a class="ms-2" href="suriavrishiv.com/">suriavrishiv.com</a>
						</div>
					</div>
				</div>
				<div class="grid-item">
					<h4 class="f-title text-center s-underline  fancy-font">Follow us</h4>
					<div class="   text-center ">
						<a href="https://www.linkedin.com/in/suria-vrishiv-infrastructure-a945a1210/" target="_blank" class=""><img src="./img/linkedin.svg"/></a>
						<a href="https://www.instagram.com/suriavrishiv" target="_blank" class="mx-3"><img src="./img/instagram.svg"/></a>
						<a href="https://www.facebook.com/suriavrishiv" target="_blank" class=""><img src="./img/facebook.svg"/></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-6 col-lg-2 text-center text-lg-start">
				</div>
				<div class="col-12 col-lg-6 text-center text-lg-end green-color">
					<a href="#" class="d-block ">&copy; Copyright 2021 &nbsp;Suria Vrishiv | Designed by: Rede
						Design Studio </a>
				</div>
			</div>
		</div>
	</div>
</footer>
