<div class="insta-tile">
	<img class="img-fluid" src="./img/house.png"  />
	<div class="bottom-section">
		<div class="profile">
			<img src="./img/SVI_OG.png" alt="profile" width="75" height="75"/>
			<div class="right-sec text-primary">
			<h5 class="fancy-font">Surya Vrishiv</h5>
			<small>on May 12, 2020</small>
			</div>
		</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	Asperiores adipisci a laborum cupiditate id nobis ea, aliquam
	animi atque aliquid quas nemo ullam quos sed ipsam, deserunt, m
	agnam tempore eveniet.</p>
	<div class="text-end">
		<a href="#"><img src="./img/instagram.png" alt="instagram" width="40" height="40"/></a>
	</div>
</div>
</div>
