$primary: #f2d898;
$goldenColor: #ebcb7b;
$desktop-width: 992px;
$tab-width: 768px;

$font-family-sans-serif: "Raleway", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

$body-bg: #1e453e;
$body-color: #fff;
$btn-border-radius: 0;
$btn-padding-x: 1.25rem;

@import "./fonts";
@import "./mixins";
@import "./helpers";

@import "bootstrap/scss/bootstrap.scss";
@import "./components/homepage";
@import "./components/navbar";
@import "./components/footer";
@import "./components/contact";
@import "./components/about";

html {
  font-size: 14px;
}
body {
}

.btn {
  color: white;
}

.fancy-font {
  font-family: "Playfair Display", sans-serif;
}

.s-underline {
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    border-radius: 20px;
    background: $primary;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16px;
  }
}
