$primary: #f2d898;
$goldenColor: #ebcb7b;
$input-border-color: $primary;
$input-border-radius: 0;
$desktop-width: 992px;
$tab-width: 768px;

$font-family-sans-serif: "Raleway", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

$body-bg: #1e453e;
$body-color: #fff;
$btn-border-radius: 0;
$btn-padding-x: 1.25rem;
$input-bg: $body-bg;

@import "./fonts";
@import "./mixins";
@import "./helpers";

@import "bootstrap/scss/bootstrap.scss";
@import "./components/homepage";
@import "./components/navbar";
@import "./components/footer";
@import "./components/contact";
@import "./components/about";
@import "./components/instatile";
@import "./components/projects";

html {
  font-size: 14px;
}
body {
}

.btn {
  color: white;
}

.fancy-font {
  font-family: "Playfair Display", sans-serif;
}

.s-underline {
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    border-radius: 20px;
    background: $primary;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16px;
  }
}

.masonry-container {
  column-count: 1;
  column-gap: 30px;
  @include tab {
    column-count: 3;
  }
}

.masonry-item {
  display: inline-block;
  width: 100%;
}

.section-title {
  margin-bottom: 4rem;
  @include tab {
    margin-bottom: 6rem;
  }
}
.leaf {
  width: 130px;
  height: auto;
  display: none;
  @include tab {
    display: block;
  }
}

.s-list {
  list-style: none;
  padding-left: 15px;
  li {
    line-height: 1.8;
  }
  li:before {
    content: "○";
    color: $primary;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 10px;
    font-size: 13px;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $body-bg inset !important;
  -webkit-text-fill-color: $primary !important;
}

input {
  border: 0 !important;
  border-bottom: 1px solid rgba($primary, 0.6) !important;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
#es-header {
  display: none !important;
}
.feed-powered-by-es {
  display: none !important;
}
